@import "../../../../../../frontend_resources/scss/colors";

.section-summary-info {
  padding-left: 52px;
  padding-top: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: $medium-grey;

  .error-button {
    i {
      color: red;
      font-size: 12px;
      margin-left: 3px;
      position: relative;
      top: -2px;
    }
  }
}
